body{
    background-color:lightgoldenrodyellow;
}
.name{
    text-align: center;
    font-size: 50px;
    color: crimson;
}
.abouttitle {
    text-align: center;
    font-size: 50px;
    color: crimson;
}
nav {
    float:left;
    padding: 10px;
    background-color: crimson;
    height: 100vh;
}
.photo{
    border:solid crimson;
    width:300px;
    height:300px;
    margin-left: 550px;
}
.photo:hover{
    transition: .5s ease-in-out;
    transform: scale(1.2);
}
.photo2 {
    width: 500px;
    height: 500px;
    margin-left: 450px;
    margin-bottom: 0px;
}
.stadium{
    width:300px;
    height:300px;
    margin-left: 800px;
    margin-top: 0px;
}
ul{
    display: block;
    padding: 0;
    list-style-type: none;
    width: 225px;
    height: 200px;
    margin-top:5px;
}
a {
    background-color: white;
    color: crimson;
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
    margin: 10px;
    margin-top:5px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}
li{
    margin-top: 5px;
}
.introduction {
    background-color: lightgoldenrodyellow;
    transform: scale(1.5);
    width: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    border: 5px solid crimson;
    margin-left: 480px;
    margin-top: 100px;
    padding: 15px;
}
.about {
    background-color: lightgoldenrodyellow;
    transform: scale(1.5);
    width: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    border: 5px solid crimson;
    margin-left: 480px;
    margin-top: 0px;
    padding: 15px;
    margin-bottom:250px;
}